<VirtualHost *:80>
 ServerAdmin webmaster@centos.org
 ServerName cloud.centos.org
 CustomLog logs/cloud.centos.org_access.log combined
 ErrorLog logs/cloud.centos.org_error.log
 DocumentRoot {{ mirror_cloud_local_path }}
 AddDescription "{{ inventory_hostname }}" server.id
 ReadmeName /centos-design/footer.html
 HeaderName /centos-design/header-centos-cloud-images.html
 IndexIgnore .??* *~ *# HEADER* README* RCS CVS *,v *,t FOOTER.html

 Header always set X-Xss-Protection "1; mode=block"
 Header always set X-Content-Type-Options "nosniff"
 Header always set Referrer-Policy "same-origin"
 Header always set X-Frame-Options "SAMEORIGIN"

 #Redirecting to https now
 RewriteEngine on
 RewriteCond %{HTTPS} !=on
 RewriteRule ^/?(.*) https://cloud.centos.org/$1 [R,L]


#Directory Permissions
 <Directory "{{ mirror_cloud_local_path }}">
  AllowOverride Indexes
  Options Indexes FollowSymLinks 
  <IfVersion < 2.4>
    Order allow,deny
    Allow from all
  </IfVersion>
  <IfVersion >= 2.4>
    IndexOptions NameWidth=* +SuppressHTMLPreamble
    IndexStyleSheet "/centos-design/css/centos-listindex.css"
    Require all granted
  </IfVersion>
 </Directory>

</VirtualHost>

