#!/bin/bash

cd {{ mirror_cloud_local_path }}
SYNCTIME=`date +%Y%m%d%H%M`
lockfile="/home/{{ mirror_cloud_local_user }}-scripts/rsync-master-cloud.pid"
running="yes"

do_rsync() {

rsync --force --partial --delete-after --exclude ".~tmp~" --exclude ".*iso.*" --exclude ".*.rpm.*" --exclude FOOTER.html --delay-updates --exclude repodata --exclude headers --timeout=2400 -avzH $1::centos-cloud/ /home/centos-cloud/  > /home/centos-scripts/$SYNCTIME-cloud.log 2>&1 
}

if [ -z $1 ]; then 
  echo "need a machine name to rsync from as the first param to this script"
  exit 1
fi

if [ ! -e ${lockfile} ]; then
   trap 'rm -f "$lockfile"; exit $?' INT TERM EXIT
   echo "$$" > $lockfile
   do_rsync $1 

   rm -f "$lockfile"
   trap - INT TERM EXIT
else
   proc=$(cat ${lockfile})
   if [ $(ps -eopid | grep -c $proc) -eq 1 ]; then
     #still running
     echo "Old process still running"
     exit 27
   else
     #old process dead
     rm -f ${lockfile}
   fi
fi

