#!/bin/bash
# called by Zabbix to calculate difference between rsync operations

zabbix_sender -c /etc/zabbix/zabbix_agentd.conf -k cloud.diff -o $(( $(date +%s) - $(cat {{ mirror_cloud_local_path }}/TIME) )) >/dev/null

